<%- include('header_loged'); -%>
    <main>
        <h1>Resultados de búsqueda: '<%= search %>'</h1>
        <div class="search_results">
            <% users.forEach(function(user, i) { %>
                <div class="search_friend">
                    <img src="/images/friend.png">
                    <h3><%= user.fullname %></h3>
                    <% if (!user.esAmigo) { %>
                        <!--TODO: indicar action del form-->
						<form action="request_friend" method="POST">
							<input type="hidden" name="ident" value="<%= user.id %>">
                            <input class="input_button" type="submit" value="Solicitar amistad" />
                        </form>
                    <% }%>
                </div>
            <% }); %>
        </div>
    </main>
<%- include('footer'); -%>